<h1 mat-dialog-title appTitle>{{editStudent ? 'Edit Student': 'Create Student'}}</h1>
<div mat-dialog-content>
    <form class="formList" [formGroup]="formModel">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input  
                autocomplete="off"
                formControlName="name"
                matInput type="text"
                name="name"
            >
            <mat-error *ngIf="nameControl.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="nameControl.hasError('minlength')">The name must be greater than 3 characters</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Last-Name</mat-label>
            <input 
                autocomplete="off"
                formControlName="lastname"
                matInput type="text"
                name="lastname"
            >
            <mat-error *ngIf="lastnameControl.hasError('required')"> this field is required</mat-error>
            <mat-error *ngIf="lastnameControl.hasError('minlength')">The last-name must be greater than 5 characters</mat-error>
            <mat-error *ngIf="lastnameControl.hasError('maxlength')">The last-name must not exceed 12 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <input 
                autocomplete="off"
                formControlName="age"
                matInput type="text"
                name="age"
            >
            <mat-error *ngIf="ageControl.hasError('required')"> this field is required</mat-error>
            <mat-error *ngIf="ageControl.hasError('min')">The min age required is of 15 years</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input 
                autocomplete="off"
                formControlName="password"
                matInput type="text"
                name="password"
            >
            <mat-error *ngIf="passwordControl.hasError('required')"> this field is required</mat-error>
            <mat-error *ngIf="passwordControl.hasError('minlength')">The password must be greater than 8 characters</mat-error>
            <mat-error *ngIf="passwordControl.hasError('maxlength')">The password must not exceed 16 characters</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input  
                autocomplete="off"
                formControlName="email"
                matInput type="email"
                name="email"
            >
            <mat-error *ngIf="emailControl.hasError('required')"> this field is required</mat-error>
            <mat-error *ngIf="emailControl.hasError('email')">This field is for emails only, it required a "<b>@</b>"</mat-error>
            <mat-error *ngIf="emailControl.hasError('minlength')">The email must be greater than 8 characters excluding <b>@email.com...</b> </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select [formControl]="roleControl">
              <mat-option value="admin" >Admin</mat-option>
              <mat-option value="student" >Student</mat-option>
            </mat-select>
        </mat-form-field>
    
        

    </form>
</div>

<div mat-dialog-action>
    <button type="submit" mat-button (click)="submit()">Send</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
