.formList{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 65, 64);
    width: 400px;
}

.mat-mdc-form-field{
    margin-top: 20px;
}

.error{
    color: red;
    margin-left: 2rem;
}

.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
  }

.mat-dialog-content {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}