.formList{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 65, 64);
}

.error{
    color: red;
    margin-left: 2rem;
}

.mdc-dialog__surface {
    overflow: hidden !important;
}