<div class="" mat-dialog-content>
    <form class="formSub flex flex-column" [formGroup]="formSModel">
        <h1 mat-dialog-title appTitle>{{editSubject ? 'Edit Subject': 'Create Subject'}}</h1>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input  
                autocomplete="off"
                formControlName="name"
                matInput type="text"
                name="name"
            >
            <mat-error *ngIf="nameControl.hasError('required')"> this field is required</mat-error>
        </mat-form-field>
        

        <mat-form-field>
            <mat-label>Time for Week</mat-label>
            <input 
                autocomplete="off"
                formControlName="timeW"
                matInput type="text"
                name="timeW"
            >
            <mat-error *ngIf="timeWControl.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="timeWControl.hasError('minlength')">A complete schedule is needed, example: 2:00hrs</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Price</mat-label>
            <input 
                autocomplete="off"
                formControlName="price"
                matInput type="text"
                name="price"
            >
            <mat-error *ngIf="priceControl.hasError('min')">price need to be higher than USD$10</mat-error>
            <mat-error *ngIf="priceControl.hasError('required')"> this field is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Image</mat-label>
            <input 
                autocomplete="off"
                formControlName="image"
                matInput type="text"
                name="image"
                placeholder="its has to be a link for the photo"
            >
            <mat-error *ngIf="priceControl.hasError('required')"> this field is required</mat-error>
        </mat-form-field>

        
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea 
            matInput placeholder="Description of the subject"
            autocomplete="off"
            formControlName="description"
            matInput type="text"
            name="description"
            ></textarea>

            <mat-error *ngIf="timeWControl.hasError('required')">This field is required</mat-error>
        </mat-form-field>

        


    </form>
</div>

<div mat-dialog-action>
    <button type="submit" mat-button (click)="submit()">Send</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
