.formList{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 65, 64);
    height: 525px;
    width: 400px;
    border-radius: 8px;
    margin: 5rem 8rem;
    border: solid 2px white;
}

.formList input{
    margin-left: 2rem;
    width: 275px;
    height: 10px;
    border-radius: 5px;
    margin-top: .8rem;
}

.formList button{
    width: 150px;
    height: 30px;
    margin:1rem  2rem;
    background-color: rgb(240, 9, 136);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.formList button:hover{
    background-color: rgb(214, 10, 122);
    color: white;
}
.formList pre,.formList h4{
    margin-left: 2rem;
}

.error{
    color: red;
    margin-left: 2rem;
}


